In [2]:
import pandas as pd

df = pd.read_csv(
    "terra_imports.txt", 
    delimiter="|", 
    names=["self_time", "cumulative_time", "package"], 
    header=0
)
df.self_time = df.self_time.str.replace("import time: ", "").astype(int)
df

     self_time  cumulative_time                      package
0          512              512                          _io
1           81               81                      marshal
2         1027             1027                        posix
3         1233             2852   _frozen_importlib_external
4          228              228                         time
..         ...              ...                          ...
673       2322             2322           terra.dependencies
674       2361             2361                    terra.git
675       2068             2068                terra.logging
676       2439             2439                 terra.notify
677       3933          4198563                        terra

[678 rows x 3 columns]

In [5]:
df.sort_values("cumulative_time", ascending=False)[:10]

,self_time,cumulative_time,package
677,3933,4198563,terra
672,1802457,4115215,terra.database
623,3785,1522725,google.cloud.sql.connector
586,2084,810685,google.cloud.sql.connector.connector
585,2702,808601,google.cloud.sql.connector.instance_c...
577,2002,785686,google.cloud.sql.connector.refresh_...
622,572014,704665,pkg_resources
252,3573,482669,sqlalchemy
416,2382,379257,aiohttp
576,2416,379112,google.auth.transport.requests